.rc-anchor-light.rc-anchor-normal {
    border:none;

}
.rc-anchor{
    border-radius: 0;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.08);
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.08);
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0,0.08);
}


.rc-anchor-light {
    background: #000 !important;
    color: #000 !important; }