<div class="container">
  <h2>Listado demo Menu</h2>
  <app-table-filtered  (expandedRowChange)="onRowExpand.bind($event)" [(rows)]="menus" [(configPagination)]="config" [cols]="cols"   [itemsRightMenu]="items" [(loading)]="loading" dataKey="id"  [onLazyLoad]="ConsultaServer(this)"  [onRowSelect]="onRowSelect(this)" [(selectedRow)]="selectedRegistro" [actionButtons]="actionButtons" [collapseOptions]="collapseOptions" [allowMenuOnRow]="true" [selectionMultipleMode]="enabledMultipleSelection" [multipleSelectionMenu]="multipleSelectionMenu" [unselectAllRows]="unselectAllRows"></app-table-filtered>
  <app-form-dialog [errorsForm]="errorsForm" [selectedItems]="selectedItems" dialogTitle="{{ tituloDialog }}" [(displayDialog)]="displayDialog" [errors]="errors"   [fields]="columnas" [elementToModify]="menu"    [buttons]="buttons"></app-form-dialog>
</div>
