<!--INI - JASOBRILE-->
<!--div class="container">
    <div class="panel-ejemplo col-sm-12">
        <div class="row " *ngFor="let chunk of menu">
            <a *ngFor="let item of chunk" class="col-md-2  shortcut" routerLink="{{item.route}}"  >
                <span class="{{ item.color }}">
                <span class="glyphicon {{ item.icon }}"></span>
              </span>
                <h2>{{ item.numero }}</h2>
                <p>{{ item.titulo }}</p>
            </a>
        </div>
    </div>
</div-->

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-2">
      <div class="thumbnail">
        <img src="assets/images/home/guia.png" style="width: 100%;" alt="Guía de Inspección">
        <div class="caption">
          <h4>Guía de Inspección</h4>
          <p>Aquí podrás encontrar una guía para...</p>
          <p>
            <a href="#" class="btn btn-primary" role="button">
              Ingresar
            </a>
          </p>
        </div>
      </div>
    </div>
    <!--------------------------------------------------------------------------------------->
    <div class="col-sm-6 col-md-2">
      <div class="thumbnail">
        <img src="assets/images/home/programadas.png" style="width: 100%;" alt="Inspecciones Programadas">
        <div class="caption">
          <h4>Inspecciones Programadas</h4>
          <p>Accedé a ver las inspecciones planificadas...</p>
          <p>
            <a routerLink="/inspeccionesProgramadas" class="btn btn-primary" role="button">
              Ingresar
            </a>
          </p>
        </div>
      </div>
    </div>
    <!--------------------------------------------------------------------------------------->
    <div class="col-sm-6 col-md-2">
      <div class="thumbnail">
        <img src="assets/images/home/buscador.png" style="width: 100%;" alt="Buscador de Inspectores">
        <div class="caption">
          <h4>Buscador de Inspectores</h4>
          <p>Accedé a verificar a los inspectores afectados a la tarea de inspección...</p>
          <p>
            <a href="#" class="btn btn-primary" role="button">
              Ingresar
            </a>
          </p>
        </div>
      </div>
    </div>
    <!--------------------------------------------------------------------------------------->
    <div class="col-sm-6 col-md-2">
      <div class="thumbnail">
        <img src="assets/images/home/resultados.png" style="width: 100%;" alt="Resultados de Inspección">
        <div class="caption">
          <h4>Resultados de Inspección</h4>
          <p>Accedé a ver las inspecciones finalizadas...</p>
          <p>
            <a href="#" class="btn btn-primary" role="button">
              Ingresar
            </a>
          </p>
        </div>
      </div>
    </div>
    <!--------------------------------------------------------------------------------------->
    <div class="col-sm-6 col-md-2">
      <div class="thumbnail">
        <img src="assets/images/home/actas.png" style="width: 100%;" alt="Actas">
        <div class="caption">
          <h4>Actas</h4>
          <p>Enumeración de Actas de infracción...</p>
          <p>
            <a href="#" class="btn btn-primary" role="button">
              Ingresar
            </a>
          </p>
        </div>
      </div>
    </div>
    <!--------------------------------------------------------------------------------------->
    <div class="col-sm-6 col-md-2">
      <div class="thumbnail">
        <img src="assets/images/home/A.G.C.png" style="width: 80%;" alt="A.G.C.">
        <div class="caption">
          <h4>"A.G.C.</h4>
          <p>Ingresá a A.G.C...</p>
          <p>
            <a href="#" class="btn btn-primary" role="button">
              Ingresar
            </a>
          </p>
        </div>
      </div>
    </div>
    <!--------------------------------------------------------------------------------------->
    <div class="col-md-10 col-md-offset-1" style="margin-top: 3em;">
      <p class="text-center">
        <a class="btn btn-xl btn-primary" href="">
          Suscripción a Inspecciones
        </a>
      </p>
    </div>
  </div>
</div>
<!--FIN - JASOBRILE-->
