<h1 class="text-center">

  Ingreso</h1>
<br>
<br>
<section [@loginScreenAnimation]="loginScreenAnimation" (@loginScreenAnimation.done)="setBackToUnchecked()">
  <div class="tab-content col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
    <div role="tabpanel" class="tab-pane active">
      <div class="panel panel-default">
        <div *ngIf="isExpired" class="red-text center error-message">

          <p-message severity="error" text="Session Expirada" ></p-message>
        </div>
        <div *ngIf="isBackError==false" class="panel-heading text-center">Ingrese sus datos</div>

        <div class="panel-body">

          <div *ngIf="isBackError; else FormLogin" class="red-text center error-message">

            <p-message severity="error" text="Error aplicacion fuera de servicio " ></p-message>
          </div>

          <ng4-loading-spinner [threshold]="2000" [template]="template" [loadingText]="'Por favor espere...'" [zIndex]="9999"></ng4-loading-spinner>


          <ng-template #FormLogin>
            <form #loginForm="ngForm" class="col s12 white" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
              <div class="form-group">
                <label for="UserName">Cuil</label>
                <input class="form-control" (change)="Clean()" type="text" #UserName ngModel name="UserName" id="UserName" placeholder="Ingrese su Cuil" required>
              </div>
              <div class="form-group">
                <label for="Password">Contraseña</label>
                <br>

                <input type="password" [(ngModel)]="password" #Password ngModel name="Password" id="Password" placeholder="Ingrese su Password" required class="form-control">
                <p-message severity="error" text="{{ mensajeError }}" *ngIf="isLoginError"></p-message>
              </div>
              <div *ngIf="verificaCaptcha" class="form-group" >
                <p-captcha #ca siteKey="6LfA_TMUAAAAADeAEFAYLUHoAYqeU1Ie6Pi5BRDz"  (onResponse)="showResponse($event)"></p-captcha>

                <p-message severity="error" text="{{ mensajeErrorCaptcha }}" *ngIf="isCaptchaError">
              </p-message>


              </div>

              <br>

              <button [disabled]="!loginForm.valid" class="btn btn-primary btn-lg btn-block" type="submit">Ingresar</button>
            </form>

          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>

